.BlogAppWrapper {
  margin: 0 auto;
  width: 700px;
}

@media (max-width: 700px) {
  .BlogAppWrapper {
    width: 90%;
    margin: 0 5%;
  }
}

/* images  */

.BlogAppWrapper img {
  max-width: 100%;
}